<footer>
  <div class="container"><a href="https://myopencart.com/" target="_blank">{{ text_project }}</a>|<a href="https://docs.myopencart.com/" target="_blank">{{ text_documentation }}</a>|<a href="https://opencartforum.com/" target="_blank">{{ text_support }}</a><br />
    <a href="http://oclabs.pro/" target="_blank">{{ text_development }}</a><br />
	</div>
</footer>
</body></html>